*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 32px;
    font-family: 'League Spartan', sans-serif;
    color: hsl(221, 14%, 31%);
    transition: background-color 0.7s;
    background-color: #3a4764;
}

.calculator{
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 480px;
    margin: 10px 20px 50px 20px;
    transition: all 0.5s;
}

.calculator-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--White);
}

.p-1{
    font-size: 25px;
}

.p-2{
    font-size: 18px;
}

.calculator-choice-theme{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.numbers{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
}

.calculator-visor{
    height: 100px;
    border-radius: 10px;
    padding: 20px;
    text-align: end;
    color: var(--White);
    font-size: 60px;
    overflow: auto;
    transition: all 0.7s;
    background-color: hsl(224, 36%, 15%);
}

.container-circle{
    position: relative;
    height: 25px;
    width: 80px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 22px;
}

.container-circle:hover{
    cursor: pointer;
}

.circle{
    position: absolute;
    width: 17.5px;
    height:17.5px;
    border-radius: 50%;
    background-color: hsl(6, 63%, 50%);
    transition: all 0.7s;
}

.position1{
    inset: 3.75px 3.75px;
}

.position2{
    inset: 3.75px 50%;
    transform: translateX(-50%);
}

.position3{
    inset: 3.75px 100%;
    transform: translateX(calc(-100% - 3.75px));
}


.calculator-keyboard{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    flex-flow: row wrap;
    border-radius: 10px;
    padding: 20px;
    transition: all 0.7s;
    background-color: hsl(223, 31%, 20%);
}

.key{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 32px;
    text-align: center;
    width: 90px;
    padding: 15px 25px;
    border-radius: 10px;
}

.text-cor{
  color: hsl(0, 0%, 100%);
}

.key:hover{
    cursor: pointer;
    opacity: 0.8;
    box-shadow: none;
}

.color-white{
    color: white;
}

.cor-neutral{
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 4px 1px hsl(28, 16%, 65%);
}

.cor1{
  background-color: hsl(225, 21%, 49%);
  box-shadow: 0 4px 1px hsl(224, 28%, 35%);
}

.cor2{
  background-color: hsl(6, 63%, 50%);  
  box-shadow: 0 4px 1px hsl(6, 70%, 34%);
}

.extra{
    flex-grow: 2;
}

.attribution { 
    font-size: 11px; text-align: center;
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (max-width: 700px) {
    .calculator{
        max-width: 405px;
    }
    .calculator-keyboard{
        gap: 15px;
    }

    .key{
        width: 80px;
    }
}

@media (max-width: 375px) {
    .calculator-keyboard{
        gap: 10px;
    }

    .key{
        text-align: center;
        width: 60px;
    }
}